<!doctype html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</head>

<body>
	<div class="container">
        <div class="top-bar">
            <div class="flex-container-top-info">
                <div class="log-out">
                    <button class="log-out-button">Log Out</button>
                </div>
                <div class="difficulty-setting">
                    {{difficulty}}
                </div>
                <div class="streak">
                    <img src="../imgs/xp-logo.png" class="img">
                    {{streak}}
                </div>
            </div>
        </div>
        <div class="welcome-message">
            Welcome {{username}}!
        </div>
        <div id="lesson-prompt" class="welcome-message">
        
        </div>

        <div class="flex-container-lessons">
            {{#each projects}}
                {{#if lesson-completed}}
                {{else}}
                    <div class="column">
                        <div class="lesson">
                            <a href="question/{{lesson}}">{{lesson}}</a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>


        <div class="navbar">
            <div class="navbar-cell">
                <a class="active" href="#lessons"><img src="../imgs/lessons-logo.png" class="img"></a>
            </div>
            <div class="navbar-cell">
                <a href="../profile"> <img src="../imgs/profile-logo.png" class="img"></a>
            </div>
            <div class="navbar-cell">
                <a href="../leaderboard"><img src="../imgs/leaderboards-logo.png" class="img"></a>
            </div>
        </div>
    </div>

</body>
</html>
