<!doctype html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
        <div class="top-bar">
            <div class="flex-container-top-info">
                <div class="difficulty-setting">
                    {{difficulty}}
                </div>
                <div class="streak">
                    <img src="../imgs/xp-logo.png" class="img">
                    {{streak}}
                </div>
            </div>
        </div>
        <div class="welcome-message">
            Welcome {{username}}!
        </div>
        <div id="filler">
            <div class="flex-container-lessons">
                {{#each projects}}
                <script> var i=0; </script>
                    {{#if lesson-completed}}
                    {{else}}
                        {{#if lesson-new-row}}
                            <div class="row">
                                <div class="column">
                                    <div class="lesson">
                                        <a href="question/{{lesson}}">{{lesson}}</a>
                                    </div>
                                </div>
                        {{else}}
                                <div class="column">
                                    <div class="lesson">
                                        <a href="question/{{lesson}}">{{lesson}}</a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
            </div>

            <div class="navbar">
                <div class="navbar-cell">
                    <a class="active" href="#lessons"><img src="../imgs/lessons-logo.png" class="img"></a>
                </div>
                <div class="navbar-cell">
                    <a href="#profile"> <img src="../imgs/profile-logo.png" class="img"></a>
                </div>
                <div class="navbar-cell">
                    <a href="#leaderboard"><img src="../imgs/leaderboards-logo.png" class="img"></a>
                </div>
                <div class="navbar-cell">
                    <a href="#store"> <img src="../imgs/store-logo.png" class="img"></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
