<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/home.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="/js/log_out_button.js"></script>
    </head>

    <!-- https://www.w3schools.com/html/html_tables.asp -->
    <body>
        <div class="container">
            <div class="top-bar">
                <div class="flex-container-top-info">
                    <div class="log-out">
                        <button class="log-out-button">Log Out</button>
                    </div>
                    <div class="difficulty-setting">
                        Leaderboard 
                    </div>
                    <div class="streak">
                        <img src="../imgs/xp-logo.png" class="img">
                        {{streak}}
                    </div>
                </div>
            </div>

            <div class="leaderboard-container">
                <table class="leaderboard-table">
                    <tr>
                        <th>Username</th>
                        <th>Streak</th>
                    </tr>
                    <tr>
                        <td>User 1</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>User 2</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>User 3</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>User 4</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>{{username}}</td>
                        <td>{{streak}}</td>
                    </tr>

                    {{#each friends}}
                        <tr>
                            <td>{{username}}</td>
                            <td>{{streak}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>

            <button class="open-button" onclick="openForm()">Add Friends</button>
            <div class="form-popup" id="myForm">
                <form class="form-container">
                    <label for="email"><b>Add Friend</b></label>
                    <input type="text" placeholder="Enter Username" name="email" id="username" required>
                    <button type="submit" class="btn" id="confirm-friend" onclick="reload()">Add Friend</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

            <script>
                function reload(){
                    location.reload()
                }
            </script>

            <div class="navbar">
                    <div class="navbar-cell">
                        <a href="../home"><img src="/imgs/lessons-logo.png" class="img"></a>
                    </div>
                    <div class="navbar-cell">
                        <a href="../profile"> <img src="/imgs/profile-logo.png" class="img"></a>
                    </div>
                    <div class="navbar-cell">
                        <a class="active" href="#leaderboard"><img src="/imgs/leaderboards-logo.png" class="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
    